In [22]:
import pandas as pd

In [28]:
# CHANGEME: point file path to the mapping efficiency csv file downloaded from the associated experiment's MultiQC

mapping_input = pd.read_csv("~/Documents/code/git_hub/scwgbs_ntc_plots/example/biscuit-mapping-overview-plot.csv")

# CHANGEME: point file path to the retention csv file downloaded from the associated experiment's MultiQC

retention_input = pd.read_csv("~/Documents/code/git_hub/scwgbs_ntc_plots/example/biscuit_retention.csv")

# CHANGEME: point file path to the cell count csv that must be changed for each experiment

cell_count_input = pd.read_csv("~/Documents/code/git_hub/scwgbs_ntc_plots/example/cell_count_csv_example.csv")

# CHANGEME: point file path to the directory conatining experiment data

output = "~/Documents/code/git_hub/scwgbs_ntc_plots/example/scwgbs_ntc_data_cleaner_output/multi_qc_csv.csv"

In [24]:
mapping_input.columns = ["sample", "optimally_aligned_reads", "suboptimally_aligned_reads", "unaligned_reads"]

mapping_input

,sample,optimally_aligned_reads,suboptimally_aligned_reads,unaligned_reads
0,A03_1,2973640,816726,14452
1,A04_1,2496986,704886,11628
2,A05_1,2220067,570649,9300
3,A06_0,2685,10296,1149
4,A07_1,1979815,535294,8093
...,...,...,...,...
71,H04_1,2401129,1143986,127449
72,H05_1,3326085,867516,13549
73,H06_50,3048718,805674,10988
74,H07_1,2988761,751917,9952
75,H09_1,2672255,689734,9765

In [25]:
retention_input.columns = ["sample", "cpa_retention", "cpc_retention", "cpg_retention", "cpt_retention"]

retention_input

    sample  cpa_retention  cpc_retention  cpg_retention  cpt_retention
0    A03_1       1.395099       1.395339      72.904213       1.265440
1    A04_1       1.189949       1.139062      72.061539       0.974372
2    A05_1       0.889695       0.957267      74.633001       0.807633
3    A06_0       6.862694       7.415745      73.265853       5.158026
4    A07_1       1.598961       1.435642      73.306876       1.347791
..     ...            ...            ...            ...            ...
71   H04_1       1.250759       1.211336      71.830755       0.972431
72   H05_1       0.989501       1.014449      72.050327       0.879655
73  H06_50       1.292571       1.256642      73.225566       1.126413
74   H07_1       0.739562       0.845693      73.783523       0.719305
75   H09_1       1.304401       0.885787      73.215935       0.850655

[76 rows x 5 columns]

In [26]:
multi_qc_csv = mapping_input.merge(retention_input, on="sample")

multi_qc_csv = multi_qc_csv.merge(cell_count_input, on="sample")

multi_qc_csv

,sample,optimally_aligned_reads,suboptimally_aligned_reads,unaligned_reads,cpa_retention,cpc_retention,cpg_retention,cpt_retention,cell_count
0,A03_1,2973640,816726,14452,1.395099,1.395339,72.904213,1.265440,1
1,A04_1,2496986,704886,11628,1.189949,1.139062,72.061539,0.974372,1
2,A05_1,2220067,570649,9300,0.889695,0.957267,74.633001,0.807633,1
3,A06_0,2685,10296,1149,6.862694,7.415745,73.265853,5.158026,0
4,A07_1,1979815,535294,8093,1.598961,1.435642,73.306876,1.347791,1
...,...,...,...,...,...,...,...,...,...
68,H04_1,2401129,1143986,127449,1.250759,1.211336,71.830755,0.972431,1
69,H05_1,3326085,867516,13549,0.989501,1.014449,72.050327,0.879655,1
70,H06_50,3048718,805674,10988,1.292571,1.256642,73.225566,1.126413,50
71,H07_1,2988761,751917,9952,0.739562,0.845693,73.783523,0.719305,1
72,H09_1,2672255,689734,9765,1.304401,0.885787,73.215935,0.850655,1

In [29]:
multi_qc_csv.to_csv(output, index=False)